<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-label class="col-md-3 control-label" name="label1" caption="bind:'Distance is ' + Variables.gapis.dataSet.route.leg.distance.text"></wm-label>
            <wm-table name="executeEmpQueryTable1" title="" dataset="bind:Variables.HrdbExecuteEmpQuery.dataSet" navigation="Basic">
                <wm-table-column binding="zip" caption="Zip" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="empId" caption="Emp Id" pcdisplay="true" mobiledisplay="true" type="long"></wm-table-column>
                <wm-table-column binding="firstname" caption="Firstname" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="birthdate" caption="Birthdate" pcdisplay="true" mobiledisplay="true" type="date"></wm-table-column>
                <wm-table-column binding="role" caption="Role" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="city" caption="City" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="jobTitle" caption="Job Title" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="deptId" caption="Dept Id" pcdisplay="true" mobiledisplay="true" type="long"></wm-table-column>
                <wm-table-column binding="managerId" caption="Manager Id" pcdisplay="true" mobiledisplay="true" type="long"></wm-table-column>
                <wm-table-column binding="lastname" caption="Lastname" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
            </wm-table>
            <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)" placeholder="Select Language" name="select1"></wm-select>
            <wm-label padding="unset 0.5em" name="label3" caption="bind:appLocale.newmessage1"></wm-label>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>